{%extends 'base.html.twig'%}
{%block title%}Inscription{%endblock%}

{%block body%}

<div class="container d-flex justify-content-center align-itmes-center" style="min-height: 100vh;">
<div class="card p-4 shadow-lg" style="width: 400px; max-width: 90%; height: auto; max-height: 600px; overflow-y: auto;">
<h2 class="text-center mb-4">Créer un compte</h2>
    
           
            {{ form_start(registrationForm ) }}
    <div class="mb-4">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Votre email'} }) }}
                <div class="text-danger">{{ form_errors(registrationForm.email) }}
    </div>
    <div class="mb-4">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Votre mot de passe'} }) }}
                <div class="text-danger">{{ form_errors(registrationForm.plainPassword) }}
        <div class="d-flex justify-content-center mb-6">
            <button type="submit" class="btn btn-primary  w-100">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}