{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Articles</h1>

    <table class="table table-striped table-hover">
        <thead class="bg-primary text-white">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
                <td>{{ article.content }}</td>
                <td>
                <div class="btn-container">
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-action">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-action">edit</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center texte-muted">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="text-center mt-4">
    <a href="{{ path('article_new') }}" class="btn btn-create">Create new</a>
</div>
</div>
{% endblock %}
